<!-- <app-pia-chart></app-pia-chart> -->
<!-- <app-bar-chart></app-bar-chart> -->
<!-- <app-line-chart></app-line-chart> -->
<!-- <app-bubble-chart></app-bubble-chart> -->

<!-- <div class="container">
    <div class="row">
      <div class="col"><app-pia-chart></app-pia-chart></div>
      <div class="col"><app-bar-chart></app-bar-chart></div>
      <div class="w-100"></div>
      <div class="col"><app-line-chart></app-line-chart></div>
      <div class="col"><app-bubble-chart></app-bubble-chart></div>
    </div>
  </div>  -->
  

<div class="container">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><app-pia-chart></app-pia-chart></mat-grid-tile>
  <mat-grid-tile><app-bar-chart></app-bar-chart></mat-grid-tile>
  <mat-grid-tile><app-line-chart></app-line-chart></mat-grid-tile>
  <mat-grid-tile><app-bubble-chart></app-bubble-chart></mat-grid-tile>
</mat-grid-list>
</div>
