<!-- <app-dashboard1></app-dashboard1> -->

<!-- sidenav -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h5 style="margin-top: 3px;">Admin Dashboard</h5>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav class="container" #sidenav opened="true" mode="side">
    <mat-nav-list>
      <!-- <a href=""><img src = "../admin-dashboard//dashboard1//user-circle-regular.jpg" alt="Avatar"/></a> -->
      <a mat-list-item [routerLink]="['/Dashboard']"
        > <mat-icon> border_all</mat-icon> &nbsp;<span style="font-weight: bold">Dashboard</span></a
      >
      
      <a mat-list-item [routerLink]="['/Project']"
        > <mat-icon>card_travel</mat-icon> &nbsp;<span style="font-weight: bold">Project</span></a
      >

      <!-- non used -->
      <a mat-list-item
        > <mat-icon>list_alt</mat-icon> &nbsp;<span style="font-weight: bold">Tasks</span></a
      >
      <a mat-list-item
        > <mat-icon>panorama_vertical</mat-icon> &nbsp;<span style="font-weight: bold">Kanban</span></a
      >
      <a mat-list-item
        > <mat-icon>date_range</mat-icon> &nbsp;<span style="font-weight: bold">Calender</span></a
      >
      <a mat-list-item
        > <mat-icon>perm_identity</mat-icon> &nbsp;<span style="font-weight: bold">Contacts</span></a
      >
      <a mat-list-item
        > <mat-icon> chat_bubble_outline</mat-icon> &nbsp;<span style="font-weight: bold">Messages</span></a
      >
      <a mat-list-item
        > <mat-icon>work_outline</mat-icon> &nbsp;<span style="font-weight: bold">Products</span></a
      >
      <a mat-list-item
        > <mat-icon>view_headline</mat-icon> &nbsp;<span style="font-weight: bold">Invoices</span></a
      >
      <a mat-list-item
        > <mat-icon>folder_open</mat-icon> &nbsp;<span style="font-weight: bold">File Browsers</span></a
      >
      <a mat-list-item
        > <mat-icon>notifications_none</mat-icon> &nbsp;<span style="font-weight: bold">Notification</span></a
      >
      



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 93vh">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
